@import "../../variable.scss";

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-container {
    width: 100%;
    height: 100px;
    background-color: $neutral-100;
    @include rowflex(center,center);

    .loader-inner-container {
        width: 80%;
        height: 90%;
        background-color: transparent;
        @include colflex(center,center);
        .title {
            @include fontBold(1em, 1em,$neutral-901);
        }

        .loader {
            border: 5px solid #f3f3f3;
            border-radius: 50%;
            border-top: 5px solid #3498db;
            width: 30px;
            height: 30px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }
    }
}