@import "../../variable.scss";

.result-container {
    width: 100%;
    height: fit-content;
    background-color: $neutral-100;
    @include rowflex(center,center);
    margin-bottom: 10px;

    .result-inner-container {
        width: 80%;
        height: 90%;
        background-color: transparent;
        margin-bottom: 10px;
        @include colflex(center,center);
        .title {
            @include fontBold(1em, 1em,$neutral-901);
            margin-top: 15px;
        }

        .result-content {
            @include rowflexx(flex-start);
            flex-wrap: wrap;
            gap: 30px;

            .singleresult-container{
                width: fit-content;
                height: fit-content;
                padding: 20px 50px 20px 20px;
                background-color: $neutral-901;
                border-radius: 20px;
                @include rowflex(center,center);
                
                .singleresult-inner-container{
                    @include rowflexx(flex-start);
    
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        object-fit: fill;
                    }
    
                    .content{
                        margin-left: 20px;
                        @include colflexx(flex-start);
                        
                        @include breakpoint(mobileonly){
                            text-align: left;
                        }
                        
                        a.user_link {
                            color: #FFFFFF;
                            :hover {
                                cursor: pointer;
                            }
                        }

                        p:nth-child(1){
                            margin: 0;
                            @include fontBold(1.2em, 1em, $neutral-100);
                        }
                        p:nth-child(2){
                            margin-top: 5px;
                            @include fontNormal(1em,1.4em, $neutral-300);
                        }
    
                        p:nth-child(3){
                            @include fontMedium(.8em,1em, $neutral-200);
                        }
                    }
                }
            }
        }
        
    }

}