@import "../../variable.scss";


.home-container {
    width: 100%;
    @include rowflex(center,center);
    background-color: $neutral-902;

    .home-inner-container {
        width: 80%;
        @include breakpoint(mobileonly){
            width: 90%;
        }
        height: fit-content;
        @include colflexx(center);
    }
}