@import "../../variable.scss";

.empty-container{
    width: 21em;
    height: fit-content;
    @include rowflex(center,center);
    text-align: center;

    .empty-inner {
        @include colflexx(center);

        img {
            width: auto;

            @include breakpoint(mobileonly){
                width: 300px;
            }

        }
        p:nth-child(2){
            margin: 0;
            margin-top: 30px;
            @include fontBold(1.5em, 1em, $neutral-800);
        }
        p:nth-child(3){
            width: 90%;
            margin-top: 10px;
            @include fontNormal(1.1em, 1.7em, $neutral-901);
        }
    }
}