@import "../../variable.scss";


.toggle-container {
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
    @include colflex(flex-start,center);

    .toggle-inner-container {
        width: 100%;
        height: fit-content;
        margin-top: 50px;
        perspective: 100px;

        .toggle {
            position: relative;
            border: solid 2px #FFFFFF;
            transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;
            transform-style: preserve-3d;
            perspective: 100px;

            input[type="radio"] {
                display: none;
            }

            label {
                display: inline-block;
                min-width: 100px;
                padding: 10px;
                font-size: 16px;
                text-align: center;
                color: $neutral-901;
                cursor: pointer;
                font-weight: bold;
                background-color: #FFFFFF;
                text-transform: capitalize;
                &.active {
                    color: #FFFFFF;
                    background-color: $neutral-902;
                }
            }
        }
    }
}