@import "../../variable.scss";


.start-input {
    width: 100%;
    height: fit-content;
    @include colflexx(center);

    @include breakpoint(mobileonly){
        width: 80%;
    }
    @include breakpoint(phablet){
        width: 80%;
    }
    .stepback-container {
        margin-bottom: 20px;
        margin-top: 30px;
        @include rowflexx(center);

        i {
            margin-right: 10px;
        }

    }

}