@import "../../variable.scss";



.searchbox-container {
    width: 50%;
    height: fit-content;
    @include colflex(center,center);
    @include breakpoint(mobileonly){
        width: 80%;
    }
    @include breakpoint(phablet){
        width: 80%;
    }
    .stepback-container {
        margin-bottom: 20px;
        margin-top: 30px;
        @include rowflexx(center);

        i {
            margin-right: 10px;
        }

    }

    button {
        width: 300px;
        height: 70px;
        margin-top: 10px;
        margin-bottom: 50px;
        outline: none;
        border: 1px solid $neutral-900;
        border-radius: 20px;
        background-color: $neutral-100;
        transition: all .5s ease;
        @include fontMedium(1.2em, 1em, $neutral-901);

        &:hover {
            background-color: $neutral-500;
        }

        &:disabled{
            background-color: $gray-600;
            color: #fff;
            cursor: not-allowed;
        }
        @include breakpoint(mobileonly){
            width: 200px;
        }
        @include breakpoint(phablet){
            width: 200px;
        }
    }
}